<%= provide(:title, "About") %>

<div class="my-3">
    <h2>About us</h2>

    <h5 class="my-3">Welcome to NCI Health Store!</h5>

    <p>
        The NCI Health Store employees can access the Purchase Orders of the NCI Health Store once signed up or logged in.
    </p>

    <p>
        This application was created and designed by Alexia FALCOZ (x19144733).
    </p>


</div>